@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@700&family=Pacifico&family=Potta+One&display=swap');

.bookdetailindi
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13.5px;
    flex-direction: column;
    color: white;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Cinzel', serif;
    /* font-family: 'Pacifico', cursive;
    font-family: 'Potta One', cursive; */
   
}
.bookinfotable{
    width: 80vw;
}
.booktitle{
    font-size: 3rem;
    margin: 10px;
}

.bookimage
{
    margin: 20px;
}
table {
    border-spacing: 5px;
    margin: 5px;
    height: auto;
  }
td {
    padding: 20px;
  }